<html>
<head>
	<title>Green Bay Real Estate</title>
	<header>Green Bay Real Estate</header>
	
	<div id="menu">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/listings">Listings</a></li>
		</ul>
	</div>
</head>
<body>
	<center><img src="http://www.samueljohnson.com/blog/images/080507.jpg"</center>

</body>
<center><h4>Agent Login</h4></center>
<footer>&copy; Copyright 2015 - Green Bay Real Estate</footer>
</html>